{% extends 'layouts/blank.html' %}
{% block class %}
bg-gray-100
{% endblock %}
{% block content %}
{% load static %}

<hero>

    <section class="relative h-screen flex flex-col items-center justify-center text-center text-white ">
        <div class="video-docker absolute top-0 left-0 w-full h-full overflow-hidden">
            <video class="min-w-full min-h-full absolute object-cover"
                src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerJoyrides.mp4"
                type="video/mp4" autoplay muted loop></video>
        </div>
        <div class="video-content space-y-2 z-10">
            <h1 style="font-weight: 600;" class="font-light text-6xl">Find your stories</h1>
            <h3 style="font-weight: 200;" class="font-light text-3xl">with Uniflex</h3>
        </div>
    </section>

    <style>
        .video-docker video {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .video-docker::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.6);
            z-index: 1;
        }
    </style>
</hero>

<content x-data="{ mobileSidebarOpen: false }" class="grid grid-cols-3 max-w-7xl mx-auto my-6 px-6">
    <mobileSidebarNav class="md:hidden col-span-full mx-auto mb-6 z-10 relative">
        <a @click="mobileSidebarOpen = !mobileSidebarOpen"
            class="flex items-center cursor-pointer select-none font-bold hover:bg-gray-200 rounded-lg p-3">
            <span>Categories</span>
            <img x-bind:class="mobileSidebarOpen && 'rotate-180 duration-300'" class="w-4 ml-1.5"
                src="https://img.icons8.com/small/32/000000/expand-arrow.png" />
        </a>
    </mobileSidebarNav>
    <main class="col-span-full md:col-span-2 md:mr-[5%] lg:mx-[10%] order-2 md:order-1">
        {% for post in posts %}


        <article class="card">
            <div class="bg-grey-600 m-3 rounded-md md:drop-shadow-2xl shadow-black w-full">
                <div class="bg-white shadow-outline rounded-md flex items-center justify-between px-4 h-14">
                    <h3 class="text-start leading-5 mr-1">{{ post.title }}</h3>
                    <div class="text-sm text-gray-400 truncate">flickr<a href="{{ post.url }}"
                            class="hover:underline ml-1" target="blank">{{ post.artist }}</a></div>
                </div>
                <figure>
                    {% if post.image %}
                    <a href="{% url 'post-page' post.id %}"><img class="w-full" src="
                        {{ post.image }} "></a>
                    {% else %}
                    <a href="{% url 'post-page' post.id %}"><img class="w-full" src="
                    {{ post.images }} "></a>
                    {% endif %}
                </figure>


                <div class="bg-white p-4 pb-2">
                    {% if post.auther %}
                    <a class="flex items-center gap-1 mb-4" href="{% url 'userprofile' post.auther.username %}">
                        <img class="w-8 h-8 object-cover rounded-full" src="{{ post.auther.profile.avatar }}">
                        <span class="font-bold hover:underline"> {{ post.auther.profile.name }}</span>
                        <span class="text-sm text-gray-400">@{{ post.auther.username }}</span>
                    </a>
                    {% else %}
                    <a class="flex items-center gap-1 mb-4">
                        <img class="w-8 h-8 object-cover rounded-full" src="{% static 'images/avatar.svg' %}">
                        <span class="text-gray-400">No author</span>
                    </a>
                    {% endif %}
                    <p class="text-5xl mb-7 px-4 font1">{{ post.body }}</p>
                    <div class="flex items-center gap-2 text-sm mb-5 flex-wrap">
                        {% for tag in post.tags.all %}
                        <a href="{% url 'category' tag.slug %}"
                            class="bg-gray-300 rounded-full px-3 py-1 hover:bg-gray-800 hover:text-white">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <div class="flex items-center justify-between text-sm px-2">
                        <a class="font-bold hover:underline" href="{% url 'post-page' post.id %}">
                            {% if post.comments.count%}
                            Comments
                            <span id="commentscount-{{ post.id }}" class="font-light text-gray-500 ml-1">
                                {{ post.comments.count }}</span>
                            {% else %}
                            {% if user.is_authenticated %}
                            Add a comment
                            {% endif %}
                            {% endif %}
                        </a>
                        <div class="flex items-center gap-4 [&>a:hover]:underline">
                            {% include 'snippets/likes.html' %}
                            {% if user.is_authenticated and user == post.auther %}
                            <a href="{% url 'post-edit' post.id %}">Edit</a>
                            <a href="{% url 'post-delete' post.id %}">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
        <div
        hx-post="{% url 'landing-page' %}?page={{ page|add:1}}"
        hx-trigger="revealed"
        hx-target="this"
        hx-swap="outerHTML"
        >Loading</div>
    </main>
    {% load sidebar %}
    {% slidebar_view tag user %}

</content>



{% endblock content %}