{% extends 'layouts/b.html' %}

{% block content %}
{% load static %}
<article class="card">
    <div class="flex items-center justify-between px-4 h-14">
        <h3 class="text-lg font-bold w-[50%] truncate">{{ post.title }}</h3>
        <div class="text-sm text-gray-500">flickr @ <a href="" class="hover:underline" target="blank">John Doe</a></div>
    </div>
    <figure>
        <a href=""><img class="w-full" src="{{ post.image }}"></a>
    </figure>
    <div class="p-4 pb-2">
        <a class="flex items-center gap-1 mb-4" href="">
            <img class="w-8 h-8 object-cover rounded-full" src="{{ post.auther.profile.avatar }}">
            <span class="font-bold hover:underline">{{ post.auther.profile.name }}</span>
        </a>
        <p class="text-5xl mb-10 px-4 font1">{{ post.body }}</p>
        <div class="flex items-center gap-2 text-sm mb-5">
            <a class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-500 hover:text-white" href="">Animals</a>
            <a class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-500 hover:text-white" href="">Cute</a>
        </div>
        <div class="flex items-center justify-between text-sm px-2">
            <a class="font-bold hover:underline" href="{% url 'post-page' post.id %}">
                {% if post.comments.count%}
                Comments
                <span class="font-light text-gray-500 ml-1">
                    {{ post.comments.count }}</span>
                    {% else %}
                    {% if user.is_authenticated %}
                    Add a comment
                    {% endif %}
                    {% endif %}
            </a>
            <div class="flex items-center gap-4 [&>a:hover]:underline">
              {% include 'snippets/likes.html' %}
                {% if user.is_authenticated and user == post.auther %}
                <a href="{% url 'post-edit' post.id %}">Edit</a>
                <a href="{% url 'post-delete' post.id %}">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
</article>
{% if user.is_authenticated %}
<div class="card !pb-0 -mt-3">
    <form  class="flex items-center p-4" autocomplete="off"
    hx-post="{% url 'comment-sent' post.id %}"
    hx-target="#tab-contents"
    hx-swap="afterbegin"
    _="on htmx:afterRequest reset() me">
        {% csrf_token %}
        {{ commentform }}
        <button @click="open = false" class="block ml-2" type="submit">Submit</button>
    </form>
</div>
{% endif %}
{% if post.comments.count %}
<div class="mb-20">
    <div id="tabs" class="ml-4 flex gap-1 mb-4" hx-target="#tab-contents" hx-swap="innerHTML"
    _="on htmx:afterOnLoad take .selected for event.target" >
        <a hx-get="{% url 'post-page' post.id %}"
         class="bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded selected">Newest First</a>
        <a hx-get="{% url 'post-page' post.id %}?top"
         class="bg-transparent hover:bg-black text-black font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent rounded">Top Comments</a>
    </div>

    <div id="tab-contents">
        {% for comment in post.comments.all %}
        {% include 'comments.html' %}
        {% endfor %}

    </div>
</div>
{% endif %}
{% endblock content%}