{% load static %}
<reply class="flex items-end justify-between py-4 border-t">
    <div class="flex">
        {% if reply.auther %}
        <a href="{% url 'userprofile' reply.auther.username %}">
            <img class="w-8 h-8 object-cover rounded-full mr-2" src="{{ reply.auther.profile.avatar }}">
        </a>
        {% else %}
        <img class="w-8 h-8 object-cover rounded-full" src="{% static 'images/avatar.svg' %}">
        {% endif %}
        <div class="w-fit">
            {% if reply.auther %}
            <a class="flex items-center gap-1 mb-2" href="{% url 'userprofile' reply.auther.username %}">
                <span class="font-bold hover:underline">{{ reply.auther.profile.name }}</span>
                <span class="text-sm font-normal text-gray-400">@{{ reply.auther.username }}</span>
            </a>
            {% else %}
            <a class="flex items-center gap-1 mb-2">
                <img class="w-8 h-8 object-cover rounded-full" src="{% static 'images/avatar.svg' %}">
                <span class="text-sm font-normal text-gray-400">No Author</span>
            </a>
            {% endif %}
            <div class="mr-3">{{ reply.body }}</div>
        </div>
    </div>
    <div class="flex items-center gap-4 [&>a:hover]:underline">
        {% include 'snippets/likes_reply.html' %}
        {% if reply.auther == user and user.is_authenticated  %}
        <a href="{% url 'reply-delete' reply.id %}">Delete</a>
        {% endif %}
    </div>
</reply>