{% extends 'layouts/p.html' %}

{% block content %}
{% load static %}
<div id="profile" class="flex flex-col items-center">

    <div class="w-full md:w-[36rem] lg:w-[50rem]">
        <div class="card p-6 ">
            <div class="rounded-md shadow-2xl text-center flex flex-col items-center">
                <img class="w-36 h-36 rounded-full object-cover mb-4" src="{{ profile.avatar }}" />
                <div class="text-center max-w-md">
                    <h1>{{ profile.name }}</h1>
                    <div class="text-gray-400 mb-2 -mt-3">@{{ profile.user.username }}</div>
                    <div class="flex items-center justify-center mx-auto">
                        <img class="object-cover h-6 mr-1 opacity-60"
                            src="https://img.icons8.com/material-outlined/50/000000/marker.png">
                        {% if profile.location %}
                        {{ profile.location }}
                        {% else %}
                        Earth
                        {% endif %}
                    </div>
                    {% if profile.info %}
                    <div class="my-8">
                        {{ profile.info|linebreaksbr }}
                    </div>
                    {% endif %}
                    {% if profile.user != user %}
                    <a class="button" href="{% url 'start-chat' profile.user.username  %}">Chat with me</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="tabs" class="flex justify-center my-4 gap-2">
        <a class="tab selected">Latest</a>
        <a class="tab">Top Posts</a>
        <a class="tab">Top Comments</a>
        <a class="tab">Liked Posts</a>
    </div> -->

    <div id="tab-contents" class="w-full flex flex-col items-center">

        <div class="grid place-items-start gap-x-8 mx-auto 
            {% if post.count == 1 %} grid-cols-1 max-w-xl
            {% elif post.count == 2 %}grid-cols-1 max-w-xl lg:grid-cols-2 lg:max-w-5xl
            {% else %}grid-cols-1 max-w-xl lg:grid-cols-2 lg:max-w-5xl xl:grid-cols-3 xl:max-w-7xl{% endif %}">

          {% for post in posts %}
            <article class="card">
                <div class="bg-grey-600 m-3 rounded-md">
                    <div class="bg-gray-200 shadow-outline rounded-md flex items-center justify-between px-4 h-14">
                        <h3 class="text-start leading-5 mr-1">{{ post.title }}</h3>
                        <div class="text-sm text-gray-400 truncate">flickr<a href="{{ post.url }}"
                                class="hover:underline ml-1" target="blank">{{ post.artist }}</a></div>
                    </div>
                    <figure>
                        {% if post.image %}
                        <a href="{% url 'post-page' post.id %}"><img class="w-full" src="
                            {{ post.image }} "></a>
                        {% else %}
                        <a href="{% url 'post-page' post.id %}"><img class="w-full" src="
                        {{ post.images }} "></a>
                        {% endif %}
                    </figure>


                    <div class="bg-gray-200 p-4 pb-2">
                        {% if post.auther %}
                        <a class="flex items-center gap-1 mb-4" href="{% url 'userprofile' post.auther.username %}">
                            <img class="w-8 h-8 object-cover rounded-full" src="{{ post.auther.profile.avatar }}">
                            <span class="font-bold hover:underline"> {{ post.auther.profile.name }}</span>
                            <span class="text-sm text-gray-400">@{{ post.auther.username }}</span>
                        </a>
                        {% else %}
                        <a class="flex items-center gap-1 mb-4">
                            <img class="w-8 h-8 object-cover rounded-full" src="{% static 'images/avatar.svg' %}">
                            <span class="text-gray-400">No author</span>
                        </a>
                        {% endif %}
                        <p class="text-5xl mb-10 px-4 font1">{{ post.body }}</p>
                        <div class="flex items-center gap-2 text-sm mb-5 flex-wrap">
                            {% for tag in post.tags.all %}
                            <a href="{% url 'category' tag.slug %}"
                                class="bg-gray-300 rounded-full px-3 py-1 hover:bg-gray-800 hover:text-white">{{ tag }}</a>
                            {% endfor %}
                        </div>
                        <div class="flex items-center justify-between text-sm px-2">
                            <a class="font-bold hover:underline" href="{% url 'post-page' post.id %}">
                                {% if post.comments.count%}
                                Comments
                                <span id="commentscount-{{ post.id }}" class="font-light text-gray-500 ml-1">
                                    {{ post.comments.count }}</span>
                                {% else %}
                                {% if user.is_authenticated %}
                                Add a comment
                                {% endif %}
                                {% endif %}
                            </a>
                            <div class="flex items-center gap-4 [&>a:hover]:underline">
                                {% include 'snippets/likes.html' %}
                                {% if user.is_authenticated and user == post.auther %}
                                <a href="{% url 'post-edit' post.id %}">Edit</a>
                                <a href="{% url 'post-delete' post.id %}">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            {% endfor %}

        </div>

    </div>

</div>
{% endblock %}